
body {
  margin: 0px;
  height: 100vh;
  font-family: "Roboto", "sans-serif";

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

.header-left {
  align-content: space-around;
}

.header-left h1 {
  margin: 0px;
}

.header-left p {
  padding-bottom: 20px;
}

.logo {
    width: 50px;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 10px;
}

li {
    list-style: none; 
}

a {
    text-decoration: none;
     color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #1f2937;
  
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding: 10px 40px;
  
 
}

.hero_img {
  width: 200px;
}

h2 {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

}

.card {
  text-align: center;
}

.mid-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  border-color: #3882f6;
  border-width: 5px;
}

h3 {
  text-align: center;
  border: 0px;
  margin: 0px;;
}

.mid-2-content {
  background-color: #e5e7eb;

  padding: 80px 0px;
}

.mid-2-content h4 {
  text-align: right;
  margin: auto;
}

.bottom-content {
  background-color: #3882f6;
  border-radius: 15px;
}

.left_bottom h4, p {
  margin: 0px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  border-color: white;
}

.button-self {
  display: flex;
  align-self: center;
}

footer {
  text-align: center;
  color: white;
  background-color: #1f2937;
  padding: 20px 0px;
}